## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [55]:
# Your code here
sample_list_1 = random.sample(range(100),80)
print(sample_list_1)

[0, 98, 81, 50, 67, 16, 88, 31, 15, 74, 59, 22, 12, 29, 49, 82, 17, 42, 83, 20, 92, 14, 94, 10, 9, 7, 97, 8, 5, 43, 2, 91, 23, 76, 24, 1, 38, 77, 87, 70, 57, 40, 79, 96, 58, 25, 69, 39, 53, 37, 86, 52, 80, 93, 18, 73, 72, 65, 64, 47, 3, 26, 41, 63, 13, 19, 51, 6, 56, 89, 68, 44, 46, 33, 85, 11, 48, 99, 75, 61]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [56]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))
print(set1)

80
{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 29, 31, 33, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 56, 57, 58, 59, 61, 63, 64, 65, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 85, 86, 87, 88, 89, 91, 92, 93, 94, 96, 97, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [57]:
# Your code here
#sample_list_2 = random.randint(range(100),80)
#print(sample_list_2)
#randint no acepta range

In [58]:
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[20, 6, 94, 49, 87, 55, 85, 89, 30, 82, 17, 81, 33, 29, 73, 91, 28, 97, 56, 38, 22, 99, 65, 71, 17, 84, 71, 87, 96, 92, 85, 75, 17, 82, 15, 99, 10, 14, 66, 31, 87, 27, 63, 88, 60, 96, 21, 9, 34, 53, 96, 12, 75, 70, 29, 99, 33, 41, 44, 66, 44, 85, 50, 70, 22, 74, 24, 32, 44, 86, 49, 18, 40, 33, 34, 50, 53, 17, 66, 47]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [59]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))
print(set2)
#en set1 todos los valores son unicos a diferencia de set2 que hay repetidos por tanto len2<len1

53
{6, 9, 10, 12, 14, 15, 17, 18, 20, 21, 22, 24, 27, 28, 29, 30, 31, 32, 33, 34, 38, 40, 41, 44, 47, 49, 50, 53, 55, 56, 60, 63, 65, 66, 70, 71, 73, 74, 75, 81, 82, 84, 85, 86, 87, 88, 89, 91, 92, 94, 96, 97, 99}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [60]:
# Your code here
elmnts_list1=[]
for i in set1:
    if i not in set2:
        elmnts_list.append(i)
set3 = set(elmnts_list)
print(set3)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 15, 16, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 30, 32, 33, 35, 36, 37, 38, 39, 40, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 54, 57, 58, 59, 61, 62, 63, 64, 65, 67, 68, 69, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 96, 97, 98, 99, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [61]:
# Your code here
elmnts_list2=[]
for i in set2:
    if i not in set1:
        elmnts_list2.append(i)
set4 = set(elmnts_list2)
print(set4)

{32, 34, 66, 71, 60, 84, 21, 55, 27, 28, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [62]:
# Your code here
elmnts_list3=[]
for i in set1:
    if i in set2:
        elmnts_list3.append(i)
set5=set(elmnts_list3)
print(set5)

{6, 9, 10, 12, 14, 15, 17, 18, 20, 22, 24, 29, 31, 33, 38, 40, 41, 44, 47, 49, 50, 53, 56, 63, 65, 70, 73, 74, 75, 81, 82, 85, 86, 87, 88, 89, 91, 92, 94, 96, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [63]:
# Your code here

#### Create an empty set called `set6`.

In [64]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [65]:
# Your code here
set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 61, 62, 63, 64, 65, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [66]:
# Your code here
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [69]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [71]:
# Your code here
print(set3.union(set4, set5) == set1.union(set2))

False

#### Using the `pop` method, remove the first element from `set1`.

In [75]:
# Your code here
set1.pop([0])

TypeError: pop() takes no arguments (1 given)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [77]:
# Your code here
list_to_remove = [1,9,11,19,21,29,31,39,41,49,51,59,61,69,71,79,81,89,91,99]
for i in list_to_remove:
    if i in set1:
        list_to_remove.remove(i)
print(list_to_remove)

[9, 19, 21, 31, 41, 51, 61, 71, 81, 91]